*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: whitesmoke;
  font-family: 'Changa One', cursive;
  font-weight: bold;
}

.contenedor {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));

}

.caja {
  background-color: aqua;
  padding: 60px;
  margin: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  background-image: url(./img/fondo\ caja.jpg);
  background-repeat: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 9px 7px 20px -1px rgba(0,0,0,0.56);
}

.texto {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  background-color: rgb(255, 210, 8);
  border-style: solid;
  border-color: black;
  border-width: 5px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 9px 7px 20px -1px rgba(0,0,0,0.56);
  cursor: pointer;
}

.texto:hover{
  background-color: rgb(255, 170, 13);
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;
  transition:all .5s ease;
}

img:hover {
  transform: scale(1.25);
}
